<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-cyborg-gaming.css') }}">
</head>

<body>
    <div class="container">
        <div class="form-container">
            <div class="header">
                <h1 style="color:#ec6090">Reset Password</h1>
            </div>
            <div class="mail-form-agile">
                <form method="POST" action="{{ url_for('reset_password') }}">
                    {{ form.hidden_tag() }}
                    <div class="padding">
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}
                    </div>
                    <div class="padding">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2025 <a href="{{url_for('index')}}">Buy Tes Codes</a>. All rights reserved</p>
    </div>
</body>

</html>
